{% extends "layout.njk" %}

{% block head %}
    <title>Livros</title>
{% endblock%}

{% block content%}
    <h1 style="max-width: 63rem;
               margin: 2rem auto;
               color: var(--color-white">
               Eu me remexo  muito, você remexe muito, mexendo muito, 
               ta com tudo em cima, ta com tudo em cima, ta com tudo, ta com tudo em cima.
    </h1>
{% endblock%}