
.container{
    background-color: var(--color-green);
    box-shadow: 0.1rem 0.1rem 4rem var(--color-black);

    max-width: 65rem;
    border-radius: 1rem;
    padding: 2rem;
    margin: 3rem auto;

    opacity: 0;

    animation: top;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes top{
    from {
        transform: translateY(-6.25rem);
    }
    to{
        opacity: 1;
    }
}

.card{
    background-color: var(--color-black);
    color: var(--color-white);

    display: grid;
    grid-template-columns: 52% 48%;

    border-radius: 1rem;
    padding: 2rem;
}

.avatar{
    border: 0.2rem solid var(--color-white);
    border-radius: 0.5rem;
    margin: 4rem 2rem 4rem 0;
}

.info{
    border-left: 0.2rem solid var(--color-green);
    padding: 1.25rem 0 1.25rem 2rem;
}

.info h3{
    text-align: center;
    border: 0.122rem solid var(--color-green);

    border-radius: 0.5rem;
    padding: 0.5rem 0;
    margin: 0.5rem 0 ;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.item{
    border-bottom: 0.063rem solid var(--color-purple);
    padding: 0.5rem 0;
}


input,
button, .buttonEdit{
    width: 100%;
    outline: none;
    font-family: 'Poppins', sans-serif;    
    font-size: 1rem;
    border-radius: 0.2rem;

    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

input{
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
}

::-webkit-input-placeholder{
    font-weight: normal;
    color: var(--color-green);
}

.buttonEdit{
    display: flex;
    justify-content: center;
}

.buttonEdit:hover{
    transition: 0.75s;
    background-color: var(--color-green);
}

.buttonSave, .buttonDelete, .buttonEdit{
    letter-spacing: 0.2rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2rem;

    color: var(--color-white);
    background-color: var(--color-black);
    border: 0.122rem solid var(--color-green);
}

.buttonSave:hover{
    transition: 0.75s;
    background-color: var(--color-green);
    color: var(--color-white);
    border: 0.122rem solid var(--color-white);
}

.buttonDelete:hover{
    transition: 0.75s;
    background-color: var(--color-purple);
    color: var(--color-white);
    border: 0.122rem solid var(--color-white);
}


.show div:first-child{
    color: var(--color-green)
}

.show div:last-child{
    font-weight: bold;
    font-size: 1.1rem;
}

.item div span{
    text-transform: uppercase;
    padding: 0.25rem;
    border-radius: 0.5rem;
    color: var(--color-black);
    font-weight: bold;
    display: inline-block;
    font-size: 0.8rem;
    margin: 0.2rem 0.1rem;
}
  
.item div span:first-child{  
    background-color: var(--color-bluebold);
}
  
.item div span:nth-child(2){  
    background-color: var(--color-coral);
}
  
.item div span:nth-child(3){  
    background-color: var(--color-gray);
}
    
.item div span:nth-child(4){  
    background-color: var(--color-yellow);
}
  
.item div span:last-child{  
    background-color: var(--color-orange);
    padding: 0.25rem;
    border-radius: 0.5rem;
}

