{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/visuals/fields.css">
{% endblock %}


{% block content %}
    <main class="container">
        <form class="card" action="/books" method="POST">
            <section class="avatar"
                     style="background: url(https://source.unsplash.com/collection/430456/900x900) 
                            no-repeat center center / cover"
                     >
            </section>

            {% include "books/fields.njk" %}
        </form>
    </main>
{% endblock %}