<section class="info">
    <h3>{{textInput.title}}</h3>

    <div class="item">
        <div>Título:</div>
        <div>
            <input type="text"
                   name="title"
                   placeholder="Digite um nome chave para o livro"
                   value= "{{book.title}}"
                   required
            >
        </div>
    </div>

    <div class="item">
        <div>Imagem da Capa(URL):</div>
        <div>
            <input type="text" 
                    name="imagem"
                    placeholder="https://..."
                    value= "{{book.avatar}}"
                    required
                    >
        </div>
    </div>

    <div class="item">
        <div>Nome Completo:</div>
        <div>
            <input type="text"
                   name="name"
                   placeholder="Nome completo do livro"
                   value= "{{book.name}}"
                   required
            >
        </div>
    </div>

    <div class="item">
        <div>Quantidade de livros disponiveis:</div>
        <div>
            <input type="number"
                   name="quantidade"
                   placeholder="0"
                   value="{{book.quantidade}}"
                   required
            >
        </div>
    </div>
    
    <div class="item">
        <div>Disciplina(s):</div> 
        <div>
            <input type="text"
                   name= "disciplina"
                   placeholder="Matemática, Português..."
                   value="{{book.disciplina}}"
                   required
            >
        </div>
    </div>
    
    <div class="item">
        <div>Gênero(s):</div> 
        <div>
            <input type="text"
                   name="genero"
                   placeholder="Aventura, Fantasia, Educativo..."
                   value="{{book.genero}}"
                   required
            >
        </div>
    </div>

    <div class="item">
        <div>Autor(es):</div> 
        <div>
            <input type="text"
                   name="autor"
                   placeholder="J.R.R. Tolkien"
                   value="{{book.autor}}"
                   required
            >
        </div>
    </div>

    <div class="item">
        <div>ISBN(13):</div>
        <div>
            <input type="text"
                   name="isbn"
                   placeholder="111-2223334445"
                   value="{{book.isbn}}"
                   required
            >
        </div>
    </div>

    <div class="item">
        <div>Idioma:</div>
        <div>
            <input type="text"
                   name="idioma"
                   placeholder="Português..."
                   value={{book.idioma}}
                   required
            >
        </div>
    </div>

    <div class="item">
        <div>Quantidade de páginas:</div>
        <div>
            <input type="number" 
                   name="paginas"
                   placeholder="0"
                   value="{{book.paginas}}"
                   required
            >
        </div>
    </div>

    <button class="buttonSave" type="submit">Salvar</button>
</section>
