{% extends "layout.njk" %}
    
 {% block head %}
    <link rel="stylesheet" href="/visuals/fields.css">     
 {% endblock %}   

{% block content%}
<main class="container" style="max-width: 70rem; background-color: var(--color-purple);">
   <form class="card" action="/students?_method=PUT" method="POST">
      <section class="avatar student-avatar"
               style="background: url({{student.avatar_url}}) 
                      no-repeat center right / cover;"
               >
      </section>

      <input type="hidden" name="id" value="{{student.id}}">
      {% include "students/fields.njk" %}
   </form>
</main>
{% endblock %}}
