{% extends "layout.njk" %}

{% block head %}
<title>Alunos</title>
<link rel="stylesheet" href="/visuals/index.css">
{% endblock %}


{% block content %}
 <main class="frame index-students">

        <div class="header">
            <a class="button create-button-students" href="/students/create">Cadastrar Novo Aluno</a>
            <form action="/students" method="GET">
                <input class = "search-students"
                       type ="text" 
                       name ="filter" 
                       placeholder ="Nome ou matrícula"
                       value = "{{filter}}"
                >
                <button class="search-button-students"type="submit">Buscar</button>
            </form>
        </div>

        <div class="cards student-cards">
            {% for student in students %}
             
                <div class="card student-card">
                    <a href="/students/{{student.id}}">
            
                        <section class="avatar student-avatar"
                                 style="background: url({{student.avatar_url}}) 
                                        no-repeat center center / cover">
                        </section>
            
                        <section class="info student-info">
            
                            <div class="item student-item">
                                <div>Nome:</div>
                                <div>{{student.name}}</div>
                            </div>
                            
                            <div class="item student-item">
                                <div>Matricula:</div> 
                                <div>{{student.matricula}}</div>
                            </div>
                            
                            <div class="item student-item">
                                <div>Email:</div>
                                <div style="color: var(--color-white)">{{student.email}}</span>
                            </div>
            
                            <div class="item student-item">
                                <div>Turma:</div> 
                                <div><span class="grade">{{student.serie}}</span></div>
                            </div>
                        </section>
                     </a>
                </div>
            {% endfor %}
        </div>
          
          <div class="pages">
                <div class ="pagination"
                     data-page = {{pagination.page}}
                     data-total = {{pagination.total}}
                     data-filter = {{pagination.filter}}
                ></div>
          </div>
    </main>
<script src="/scripts/studentIndex.js"></script>
{% endblock %}