{% extends "layout.njk" %}

{% block head %}
<title>{{home[0]}}</title>   
<link rel="stylesheet" href="/visuals/index.css"> 
{% endblock %}

{% block content %}
    <main class="frame loans-frame">

        <div class="header">
            <a class="button" href="/loans/create">Cadastrar novo Empréstimo</a>
            <form action="/loans" method="GET">
                <input type ="text" 
                       name ="filter" 
                       placeholder ="Matrícula ou ISBN"
                       value = "{{filter}}"
                >
                <button type="submit">Buscar</button>
            </form>
        </div>

        <table>
            {# cabeçalho da tabela #}
            <thead>
                {# linha do cabeçalho  #}
                <tr>
                    {# coluna do cabeçalho #}
                    <th></th>
                    <th>Empréstimo:</th>
                    <th>Livro</th>
                    <th>ISBN:</th>
                    <th>Aluno:</th>
                    <th>Matrícula:</th>
                    <th>Devolução em:</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for loan in loans %}
                    <tr class= "loan-table">
                        <td><a class="showButton" href="/loans/{{loan.id}}">Vizualizar</a></td>
                        <td>{{loan.id}}</td>
                        <td>{{loan.books_name}}</td>
                        <td>{{loan.book_isbn}}</td>
                        <td>{{loan.students_name}}</td>
                        <td>{{loan.regis_student}}</td>
                        <td>{{loan.final_date}}</td>

                        <td>
                            <form id="form-delete" action="/loans?_method=DELETE" method="post">
                                <input type="hidden" name="loan_id" value="{{loan.id}}">
                                <button class="loan-buttonRemove"type="submit">Deletar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
          
          <div class="pages"> 
                <div class ="pagination"
                     data-page = {{pagination.page}}
                     data-total = {{pagination.total}}
                     data-filter = {{pagination.filter}}
                ></div>
         </div>
    </main>
{% include "../loans/confirm_all.njk" %}
{% endblock %}